{% extends "blog/base.html" %}{% load static %}  
{% block title %} 
Kirim Tulisan
{% endblock title %}
{% block konten %}
<div class="card mb-3">
    <div class="card-header"> 
    <strong><h1>Kirim Tulisan</h1></strong>
    </div>
    </div>
    </p>
    <div id="accordion">
    
    <div class="card">
       <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 Syaratnya apa Min? 
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <i>
    1. Tulisan adalah karya orisinal dari pengirim.<br />
    2. Menyertakan referensi atau sumber rujukan apabila terdapat kutipan.<br />
    3. Karya sepenuh tanggung jawab pengirim tulisan.<br />
    4. Tulisan belum pernah dipublikasikan dan tidak sedang dalam proses pengiriman atau penerbitan di media lain.<br />
    5. Panjang tulisan artikel minimal 600 kata untuk website <b>www.zonafilsuf.com</b>.<br />
    6. Editor berhak menyunting naskah tulisan. </i>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card-header" id="lima">
          <h5 class="mb-0">
            <button class="btn text-dark collapsed" data-toggle="collapse" data-target="#lima" aria-expanded="false" aria-controls="lima">
    Jenis dan Tema tulisan Min? 
            </button>
          </h5>
        </div>
        <div id="lima" class="collapse" aria-labelledby="lima" data-parent="#accordion">
          <div class="card-body">
            <i>
    <b>Meliputi:</b><br />
    Keislaman; <br />
    Kebudayaan; <br />
    Keilmuan;<br />
    Filsafat;<br />
    Biografi Tokoh;<br />
    Cerita Pendek;<br />
    Kutipan/Qoutes;<br />
    Review Buku Filsafat;<br />
    Cerpen dan puisi;<br />
    </i>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn text-dark collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             Tulisan akan dipublikasikan di mana Min?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <i>Tim kami akan mempublikasikan di sosial media <b>@zonafilsuf</b> dan Website <b>www.zonafilsuf.com</b></i>
    
          </div>
        </div>
      </div>
      
    
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn text-dark collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Tulisan dikirim di mana Min? 
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <i>Kirim tulisan melalui email zonafilsuf@gmail.com. Bila dalam 5 hari tidak mendapatkan kabar dari redaksi, Penulis diperbolehkan menghubungi pihak redaksi melalui WA.</p> 
            
    <b>Format Tulisan:</b></br>
    Judul:</br>
    Nama Lengkap Penulis: </br>
    IG Penulis:</br>
    No WA:</i>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn text-dark collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Catatan!
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <i>Pastikan periksa kembali tulisan dari kesalatan ketik (typo) agar mempercepat/memudahkan editor untuk mempublikasikan. Kami menunggu tulisan anda untuk segera kami publish..</p></i>
          </div>
        </div>
      </div>
      </p>
    
    <a href="https://chat.whatsapp.com/DNlL5xsgfW9KhFRvqDtNZS" class="btn btn-success">Group WhatsApp Redaksi</a>
    <a href="mailto:zonafilsuf@gmail.com?subject=Title:&cc=zonafilsuf@gmail.com" class="btn"  style="background-color: rgb(0, 160, 160); color:white;">Kirim Tulisan</a>
    </div>
    </p></p>
{% endblock konten %}